USE [master]
GO
/****** Object:  Database [Project_Prj]    Script Date: 19-Mar-24 4:31:47 PM ******/
CREATE DATABASE [Project_Prj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_Prj', FILENAME = N'D:\Microsoft SQL 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Project_Prj.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_Prj_log', FILENAME = N'D:\Microsoft SQL 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Project_Prj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_Prj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_Prj]
GO
/****** Object:  Table [dbo].[Account_Role]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Role](
	[accid] [int] NOT NULL,
	[roleid] [int] NOT NULL,
 CONSTRAINT [PK_Account_Role] PRIMARY KEY CLUSTERED 
(
	[accid] ASC,
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment ]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment ](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[score] [decimal](4, 2) NULL,
	[weight] [decimal](3, 2) NULL,
	[required] [int] NULL,
	[sid] [int] NOT NULL,
	[insid] [int] NOT NULL,
	[gradeid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[dateTime] [datetime] NULL,
 CONSTRAINT [PK_GradeCourses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseGrade]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseGrade](
	[cid] [int] NOT NULL,
	[gradeid] [int] NOT NULL,
	[weight] [decimal](4, 3) NULL,
	[required] [int] NULL,
 CONSTRAINT [PK_CourseGrade] PRIMARY KEY CLUSTERED 
(
	[cid] ASC,
	[gradeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [int] NOT NULL,
	[code] [nchar](10) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[did] [int] NOT NULL,
	[detailid] [int] NULL,
 CONSTRAINT [PK_Coursese] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailCourse]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailCourse](
	[id] [int] NOT NULL,
	[noCredit] [int] NULL,
	[timeStudy] [nvarchar](100) NULL,
	[preRequisite] [varchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[studentTask] [nvarchar](500) NULL,
	[tools] [nvarchar](100) NULL,
 CONSTRAINT [PK_DetailCourse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailGrade]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailGrade](
	[id] [int] NOT NULL,
	[duration] [nvarchar](50) NULL,
	[questionType] [nvarchar](100) NULL,
	[noQuestion] [int] NULL,
	[gradingGuide] [nvarchar](250) NULL,
	[describe] [nvarchar](250) NULL,
 CONSTRAINT [PK_DetailGrade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[url] [nvarchar](50) NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[type] [nchar](20) NOT NULL,
	[cateid] [int] NULL,
	[did] [int] NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeCategories]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeCategories](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[priority] [int] NULL,
 CONSTRAINT [PK_GradeCategories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
	[cid] [int] NOT NULL,
	[insid] [int] NOT NULL,
	[tid] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HasGroup]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HasGroup](
	[sid] [int] NOT NULL,
	[gid] [int] NOT NULL,
 CONSTRAINT [PK_HasGroup] PRIMARY KEY CLUSTERED 
(
	[gid] ASC,
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[id] [int] NOT NULL,
	[code] [nchar](20) NULL,
	[first_name] [nchar](10) NULL,
	[mid_name] [nchar](10) NULL,
	[last_name] [nchar](10) NOT NULL,
	[isGender] [bit] NULL,
	[email] [varchar](50) NOT NULL,
	[image_src] [varchar](50) NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsAttend]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsAttend](
	[id] [int] IDENTITY(5,1) NOT NULL,
	[status] [int] NULL,
	[stuid] [int] NOT NULL,
	[sesid] [int] NOT NULL,
	[recordTime] [datetime] NULL,
	[comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_IsAttend] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[roleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[roleId] [int] NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_Role_Feature] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[id] [int] NOT NULL,
	[gid] [int] NOT NULL,
	[insid] [int] NOT NULL,
	[tid] [int] NOT NULL,
	[rid] [int] NOT NULL,
	[dateTime] [date] NULL,
	[attend] [int] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[id] [int] NOT NULL,
	[code] [nchar](10) NOT NULL,
	[first_name] [nchar](10) NULL,
	[mid_name] [nchar](15) NULL,
	[last_name] [nchar](10) NOT NULL,
	[isGender] [bit] NULL,
	[email] [varchar](50) NOT NULL,
	[image_src] [varchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TermDepart]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TermDepart](
	[tid] [int] NOT NULL,
	[did] [int] NOT NULL,
 CONSTRAINT [PK_TermDepart] PRIMARY KEY CLUSTERED 
(
	[tid] ASC,
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[id] [int] NOT NULL,
	[name] [nchar](20) NOT NULL,
	[start] [date] NULL,
	[end] [date] NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 19-Mar-24 4:31:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[id] [int] NOT NULL,
	[start] [nchar](10) NOT NULL,
	[end] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account_Role] ([accid], [roleid]) VALUES (1, 2)
INSERT [dbo].[Account_Role] ([accid], [roleid]) VALUES (2, 1)
INSERT [dbo].[Account_Role] ([accid], [roleid]) VALUES (3, 1)
GO
INSERT [dbo].[Accounts] ([id], [username], [password], [user_id]) VALUES (1, N'huynmhe173566', N'12345', 1)
INSERT [dbo].[Accounts] ([id], [username], [password], [user_id]) VALUES (2, N'sonnt5', N'12345', 1)
INSERT [dbo].[Accounts] ([id], [username], [password], [user_id]) VALUES (3, N'longdq   ', N'12345', 3)
GO
SET IDENTITY_INSERT [dbo].[Assessment ] ON 

INSERT [dbo].[Assessment ] ([id], [score], [weight], [required], [sid], [insid], [gradeid], [cid], [dateTime]) VALUES (1, CAST(9.00 AS Decimal(4, 2)), CAST(0.10 AS Decimal(3, 2)), 0, 1, 5, 5, 1, CAST(N'2024-01-10T09:02:00.000' AS DateTime))
INSERT [dbo].[Assessment ] ([id], [score], [weight], [required], [sid], [insid], [gradeid], [cid], [dateTime]) VALUES (2, CAST(8.00 AS Decimal(4, 2)), CAST(0.10 AS Decimal(3, 2)), 0, 1, 5, 6, 1, CAST(N'2024-02-29T12:00:00.000' AS DateTime))
INSERT [dbo].[Assessment ] ([id], [score], [weight], [required], [sid], [insid], [gradeid], [cid], [dateTime]) VALUES (3, CAST(8.00 AS Decimal(4, 2)), CAST(0.10 AS Decimal(3, 2)), 0, 1, 5, 7, 1, CAST(N'2024-02-01T07:48:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Assessment ] OFF
GO
INSERT [dbo].[CourseGrade] ([cid], [gradeid], [weight], [required]) VALUES (1, 5, CAST(0.100 AS Decimal(4, 3)), 0)
INSERT [dbo].[CourseGrade] ([cid], [gradeid], [weight], [required]) VALUES (1, 6, CAST(0.100 AS Decimal(4, 3)), 0)
INSERT [dbo].[CourseGrade] ([cid], [gradeid], [weight], [required]) VALUES (1, 7, CAST(0.100 AS Decimal(4, 3)), 0)
GO
INSERT [dbo].[Courses] ([id], [code], [name], [did], [detailid]) VALUES (1, N'IOT102    ', N'Internet of Things', 6, 2)
INSERT [dbo].[Courses] ([id], [code], [name], [did], [detailid]) VALUES (2, N'JPD113    ', N'Elementary Japanese1', 2, 3)
INSERT [dbo].[Courses] ([id], [code], [name], [did], [detailid]) VALUES (3, N'JPD123    ', N'Elementary Japanese2', 2, 3)
GO
INSERT [dbo].[Departments] ([id], [name]) VALUES (1, N'Mathematics         ')
INSERT [dbo].[Departments] ([id], [name]) VALUES (2, N'Japanese            ')
INSERT [dbo].[Departments] ([id], [name]) VALUES (3, N'Computing Science   ')
GO
INSERT [dbo].[DetailCourse] ([id], [noCredit], [timeStudy], [preRequisite], [description], [studentTask], [tools]) VALUES (1, 0, N'35 sessions', N'None', N'Tiếng Anh chuẩn bị', N'1.Tham gia tối thiểu 80% buổi học-2.Kết quả bài check 2 đạt trên 50%-3.Không có đầu điểm nào 0%', NULL)
INSERT [dbo].[DetailCourse] ([id], [noCredit], [timeStudy], [preRequisite], [description], [studentTask], [tools]) VALUES (3, 3, N'45h trên lớp (60 sessions) + 1 giờ thi cuối kỳ + 104 giờ tự học', N'None', N'Môn học cung cấp kiến thức, kỹ năng cơ bản của tiếng Nhật ở trình độ sơ cấp 1 (tương đương với trình độ A1)', N'- Tham dự tối thiểu 80% số giờ học trên lớp
- Trên lớp tích cực tham gia trao đổi, xây dựng bài.', N'Sử dụng Giáo trình chính và GT bổ trợ bằng tiếng Nhật.
- Sử dụng ppt cho bài giảng của giảng viên.')
GO
INSERT [dbo].[DetailGrade] ([id], [duration], [questionType], [noQuestion], [gradingGuide], [describe]) VALUES (1, NULL, N'Listening, Discussion, Reading and Writing', NULL, NULL, NULL)
INSERT [dbo].[DetailGrade] ([id], [duration], [questionType], [noQuestion], [gradingGuide], [describe]) VALUES (2, NULL, N'Listening and Reading', NULL, NULL, NULL)
INSERT [dbo].[DetailGrade] ([id], [duration], [questionType], [noQuestion], [gradingGuide], [describe]) VALUES (3, NULL, N'Discussion and pronunciation', NULL, NULL, NULL)
GO
INSERT [dbo].[Feature] ([id], [name], [url]) VALUES (1, N'Home Instructor', N'/HomeInstructor')
INSERT [dbo].[Feature] ([id], [name], [url]) VALUES (2, N'Schedule Instructor', N'/ScheduleInstructor')
INSERT [dbo].[Feature] ([id], [name], [url]) VALUES (3, N'Grade', N'/Grade')
GO
INSERT [dbo].[Grade] ([id], [name], [type], [cateid], [did]) VALUES (1, N'Check 1', N'on-going            ', 1, 1)
INSERT [dbo].[Grade] ([id], [name], [type], [cateid], [did]) VALUES (2, N'Check 2', N'final               ', 2, 1)
INSERT [dbo].[Grade] ([id], [name], [type], [cateid], [did]) VALUES (3, N'Online Learning', N'on-going            ', 3, 2)
GO
INSERT [dbo].[GradeCategories] ([id], [name], [priority]) VALUES (1, N'Check 1   ', NULL)
INSERT [dbo].[GradeCategories] ([id], [name], [priority]) VALUES (2, N'Check 2   ', 3)
INSERT [dbo].[GradeCategories] ([id], [name], [priority]) VALUES (3, N'Online Learning', NULL)
GO
INSERT [dbo].[Groups] ([id], [name], [cid], [insid], [tid]) VALUES (1, N'SE1809    ', 16, 1, 4)
INSERT [dbo].[Groups] ([id], [name], [cid], [insid], [tid]) VALUES (2, N'SE1899    ', 21, 3, 4)
INSERT [dbo].[Groups] ([id], [name], [cid], [insid], [tid]) VALUES (3, N'SE1836    ', 18, 1, 4)
GO
INSERT [dbo].[HasGroup] ([sid], [gid]) VALUES (1, 1)
INSERT [dbo].[HasGroup] ([sid], [gid]) VALUES (2, 1)
INSERT [dbo].[HasGroup] ([sid], [gid]) VALUES (3, 1)
GO
INSERT [dbo].[Instructors] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (1, N'Sonnt5              ', N'Ngô       ', N'Tùng      ', N'Sơn       ', 1, N'Sonnt5@fe.edu.vn', NULL)
INSERT [dbo].[Instructors] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (2, N'HoaPT8              ', N'Phùng     ', N'Thị       ', N'Hoa       ', 0, N'HoaPT8@fe.edu.vn', NULL)
INSERT [dbo].[Instructors] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (3, N'LongDQ              ', N'Đặng      ', N'Quang     ', N'Long      ', 1, N'LongDQ@fe.edu.vn', NULL)
GO
SET IDENTITY_INSERT [dbo].[IsAttend] ON 

INSERT [dbo].[IsAttend] ([id], [status], [stuid], [sesid], [recordTime], [comment]) VALUES (1, 2, 1, 1, CAST(N'2024-03-09T10:37:05.530' AS DateTime), N'v')
INSERT [dbo].[IsAttend] ([id], [status], [stuid], [sesid], [recordTime], [comment]) VALUES (2, 2, 1, 2, CAST(N'2024-01-02T11:00:00.000' AS DateTime), NULL)
INSERT [dbo].[IsAttend] ([id], [status], [stuid], [sesid], [recordTime], [comment]) VALUES (3, 2, 1, 3, CAST(N'2024-01-03T08:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[IsAttend] OFF
GO
INSERT [dbo].[Role] ([id], [roleName]) VALUES (1, N'Teacher')
INSERT [dbo].[Role] ([id], [roleName]) VALUES (2, N'Student')
GO
INSERT [dbo].[Role_Feature] ([roleId], [fid]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([roleId], [fid]) VALUES (1, 2)
INSERT [dbo].[Role_Feature] ([roleId], [fid]) VALUES (1, 3)
GO
INSERT [dbo].[Rooms] ([id], [name]) VALUES (1, N'BE101     ')
INSERT [dbo].[Rooms] ([id], [name]) VALUES (2, N'BE102     ')
INSERT [dbo].[Rooms] ([id], [name]) VALUES (3, N'BE103     ')
GO
INSERT [dbo].[Sessions] ([id], [gid], [insid], [tid], [rid], [dateTime], [attend]) VALUES (1, 1, 1, 1, 5, CAST(N'2024-01-02' AS Date), 2)
INSERT [dbo].[Sessions] ([id], [gid], [insid], [tid], [rid], [dateTime], [attend]) VALUES (2, 2, 3, 2, 1, CAST(N'2024-01-02' AS Date), 2)
INSERT [dbo].[Sessions] ([id], [gid], [insid], [tid], [rid], [dateTime], [attend]) VALUES (3, 3, 1, 1, 2, CAST(N'2024-01-03' AS Date), 2)
GO
INSERT [dbo].[Students] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (1, N'HE173566  ', N'Nguyễn    ', N'Mạnh           ', N'Huy       ', 1, N'Huynmhe173566@fpt.edu.vn', NULL)
INSERT [dbo].[Students] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (2, N'HE176302  ', N'Kiều      ', N'Thanh Thế      ', N'Anh       ', 1, N'Anhktthe176302@fpt.edu.vn', NULL)
INSERT [dbo].[Students] ([id], [code], [first_name], [mid_name], [last_name], [isGender], [email], [image_src]) VALUES (3, N'HE176471  ', N'Nguyễn    ', N'Đăng           ', N'Linh      ', 1, N'Linhdlhe176471@fpt.edu.vn', NULL)
GO
INSERT [dbo].[TermDepart] ([tid], [did]) VALUES (1, 1)
INSERT [dbo].[TermDepart] ([tid], [did]) VALUES (1, 4)
INSERT [dbo].[TermDepart] ([tid], [did]) VALUES (1, 5)
GO
INSERT [dbo].[Terms] ([id], [name], [start], [end]) VALUES (1, N'Spring2023          ', CAST(N'2023-01-02' AS Date), CAST(N'2023-04-29' AS Date))
INSERT [dbo].[Terms] ([id], [name], [start], [end]) VALUES (2, N'Summer2023          ', CAST(N'2023-05-08' AS Date), CAST(N'2023-08-27' AS Date))
INSERT [dbo].[Terms] ([id], [name], [start], [end]) VALUES (3, N'Fall2023            ', CAST(N'2023-09-04' AS Date), CAST(N'2023-12-24' AS Date))
GO
INSERT [dbo].[TimeSlot] ([id], [start], [end]) VALUES (1, N'7:30      ', N'9:50      ')
INSERT [dbo].[TimeSlot] ([id], [start], [end]) VALUES (2, N'10:00     ', N'12:20     ')
INSERT [dbo].[TimeSlot] ([id], [start], [end]) VALUES (3, N'12:50     ', N'15:10     ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Accounts]    Script Date: 19-Mar-24 4:31:47 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UK_Accounts] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Rooms]    Script Date: 19-Mar-24 4:31:47 PM ******/
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [UN_Rooms] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Students]    Script Date: 19-Mar-24 4:31:47 PM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UNQ_Students] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IsAttend] ADD  CONSTRAINT [DF_IsAttend_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Sessions] ADD  CONSTRAINT [DF_Sessions_attend]  DEFAULT ((0)) FOR [attend]
GO
ALTER TABLE [dbo].[Account_Role]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role_Accounts] FOREIGN KEY([accid])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Account_Role] CHECK CONSTRAINT [FK_Account_Role_Accounts]
GO
ALTER TABLE [dbo].[Account_Role]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role_Role] FOREIGN KEY([roleid])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account_Role] CHECK CONSTRAINT [FK_Account_Role_Role]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Instructors] FOREIGN KEY([user_id])
REFERENCES [dbo].[Instructors] ([id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Instructors]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Students] FOREIGN KEY([user_id])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Students]
GO
ALTER TABLE [dbo].[Assessment ]  WITH CHECK ADD  CONSTRAINT [FK_Assessment _Courses] FOREIGN KEY([cid])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Assessment ] CHECK CONSTRAINT [FK_Assessment _Courses]
GO
ALTER TABLE [dbo].[Assessment ]  WITH CHECK ADD  CONSTRAINT [FK_Assessment _Grade] FOREIGN KEY([gradeid])
REFERENCES [dbo].[Grade] ([id])
GO
ALTER TABLE [dbo].[Assessment ] CHECK CONSTRAINT [FK_Assessment _Grade]
GO
ALTER TABLE [dbo].[Assessment ]  WITH CHECK ADD  CONSTRAINT [FK_Assessment _Instructors] FOREIGN KEY([insid])
REFERENCES [dbo].[Instructors] ([id])
GO
ALTER TABLE [dbo].[Assessment ] CHECK CONSTRAINT [FK_Assessment _Instructors]
GO
ALTER TABLE [dbo].[Assessment ]  WITH CHECK ADD  CONSTRAINT [FK_Assessment _Students] FOREIGN KEY([sid])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[Assessment ] CHECK CONSTRAINT [FK_Assessment _Students]
GO
ALTER TABLE [dbo].[CourseGrade]  WITH CHECK ADD  CONSTRAINT [FK_CourseGrade_Courses] FOREIGN KEY([cid])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[CourseGrade] CHECK CONSTRAINT [FK_CourseGrade_Courses]
GO
ALTER TABLE [dbo].[CourseGrade]  WITH CHECK ADD  CONSTRAINT [FK_CourseGrade_Grade] FOREIGN KEY([gradeid])
REFERENCES [dbo].[Grade] ([id])
GO
ALTER TABLE [dbo].[CourseGrade] CHECK CONSTRAINT [FK_CourseGrade_Grade]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Departments]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_DetailCourse] FOREIGN KEY([detailid])
REFERENCES [dbo].[DetailCourse] ([id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_DetailCourse]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_DetailGrade] FOREIGN KEY([did])
REFERENCES [dbo].[DetailGrade] ([id])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_DetailGrade]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_GradeCategories] FOREIGN KEY([cateid])
REFERENCES [dbo].[GradeCategories] ([id])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_GradeCategories]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Courses] FOREIGN KEY([cid])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Courses]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Instructors] FOREIGN KEY([insid])
REFERENCES [dbo].[Instructors] ([id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Instructors]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Terms] FOREIGN KEY([tid])
REFERENCES [dbo].[Terms] ([id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Terms]
GO
ALTER TABLE [dbo].[HasGroup]  WITH CHECK ADD  CONSTRAINT [FK_HasGroup_Groups] FOREIGN KEY([gid])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[HasGroup] CHECK CONSTRAINT [FK_HasGroup_Groups]
GO
ALTER TABLE [dbo].[HasGroup]  WITH CHECK ADD  CONSTRAINT [FK_HasGroup_Students] FOREIGN KEY([sid])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[HasGroup] CHECK CONSTRAINT [FK_HasGroup_Students]
GO
ALTER TABLE [dbo].[IsAttend]  WITH CHECK ADD  CONSTRAINT [FK_IsAttend_Sessions] FOREIGN KEY([sesid])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[IsAttend] CHECK CONSTRAINT [FK_IsAttend_Sessions]
GO
ALTER TABLE [dbo].[IsAttend]  WITH CHECK ADD  CONSTRAINT [FK_IsAttend_Students] FOREIGN KEY([stuid])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[IsAttend] CHECK CONSTRAINT [FK_IsAttend_Students]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Groups] FOREIGN KEY([gid])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Groups]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Instructors] FOREIGN KEY([insid])
REFERENCES [dbo].[Instructors] ([id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Instructors]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Rooms] FOREIGN KEY([rid])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Rooms]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_TimeSlot] FOREIGN KEY([tid])
REFERENCES [dbo].[TimeSlot] ([id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_TimeSlot]
GO
ALTER TABLE [dbo].[TermDepart]  WITH CHECK ADD  CONSTRAINT [FK_TermDepart_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[TermDepart] CHECK CONSTRAINT [FK_TermDepart_Departments]
GO
ALTER TABLE [dbo].[TermDepart]  WITH CHECK ADD  CONSTRAINT [FK_TermDepart_Terms] FOREIGN KEY([tid])
REFERENCES [dbo].[Terms] ([id])
GO
ALTER TABLE [dbo].[TermDepart] CHECK CONSTRAINT [FK_TermDepart_Terms]
GO
USE [master]
GO
